{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3-rc1"}
        org.clojure/core.async {:mvn/version "1.3.610"}

        org.clojure/spec.alpha {:mvn/version "0.2.187"}
        org.clojure/test.check {:mvn/version "1.0.0"}

        clj-http/clj-http {:mvn/version "3.10.1"}

        com.cognitect/transit-clj  {:mvn/version "1.0.324"}


        github.cljctools/cljc {:local/root  "/ctx/cljctools/cljc"}
        github.cljctools/csp {:local/root  "/ctx/cljctools/csp"}

        com.sparkjava/spark-core {:mvn/version "2.9.1"}

        io.pedestal/pedestal.service {:mvn/version "0.5.8"}
        io.pedestal/pedestal.jetty {:mvn/version "0.5.8"}
       ;;  io.pedestal/pedestal.immutant {:mvn/version "0.5.8"}
       ;;  io.pedestal/pedestal.tomcat {:mvn/version "0.5.8"}

       ;;  ring-cors/ring-cors  {:mvn/version "0.1.13"}
       ;;  ch.qos.logback/logback-classic {:mvn/version "1.2.3"
       ;;                                  :exclusions [org.slf4j/slf4j-api]}
       ;;  org.slf4j/jul-to-slf4j {:mvn/version "1.7.26"}
       ;;  org.slf4j/jcl-over-slf4j {:mvn/version "1.7.26"}
       ;;  org.slf4j/log4j-over-slf4j {:mvn/version "1.7.26"}
        
        github.into-docker/clj-docker-client {:git/url "https://github.com/into-docker/clj-docker-client"
                                              :sha "5d3f1a3568c24b9029eb193fd3ff5daf16f32bd2"
                                              :tag "1.0.2"}

       ;;  com.github.docker-java/docker-java-core  {:mvn/version "3.2.7"}
       ;;  com.github.docker-java/docker-java-transport-httpclient5  {:mvn/version "3.2.7"}

        github.ipfs.ipfs-cube/app-meta {:local/root  "/ctx/ipfs-lab/src/app-meta"}}}
